<h2 class="page-header">Add New Books</h2>
<form action="/books" method="POST">
    <%- include('_form_books') %>
    
    <div class="form-row btn-end btn-row">
        <a class="btn btn-danger" href="/books">Cancel</a>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>