<h2>Add New Books</h2>
<form action="/books" method="POST" enctype="multipart/form-data">
    <%- include('_form_books') %>
    
    <a href="/books">Cancel</a>
    <button type="submit">Submit</button>
</form>