<h2 class="page-header">Recently Added</h2>
<div>
  <div class="book-grid">
    <% books.forEach(book => { %>
      <a href="/books/<%= book.id %>">
        <img height="300" width="200" src="<%= book.coverImagePath %>">
      </a>
    <% }) %>
  </div>
</div>