:root {
 --form-label-font-size: 1.25rem;
 --form-input-background-color: rgb(62, 115, 230); 
 --form-input-border-color: rgb(105, 143, 224);
 --form-input-border-color-light: rgb(169, 185, 221);
 --color-text-light: rgb(255, 255, 255);
}

.form-row {
    display: flex;
    margin-bottom: 0.5rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
}
.form-item:first-child {
    margin-left: 0;
}
.form-item-image {
    flex-grow: 0;

}
.btn-end {
    justify-content: flex-end;
}

.form-item > label {
    font-size: var(--form-label-font-size);
    margin: 0.5rem;
    margin-left: 0.25rem;
}

.form-item input, .form-item select, .form-item textarea {
    height: 2rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--form-input-border-color);
    border-radius: 0.5rem;
    background-color: var(--form-input-background-color);
    color: var(--color-text-light);
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
}

.form-item textarea {
    height: 100%;
    resize:none;
}

.form-item input:focus, .form-item select:focus, .form-item textarea:focus {
    border-color: var(--form-input-border-color-light);
}

/* file pond documentation for the drag box css */

.filepond--root {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0;
}

.filepond--panel-root {
    background-color: var(--form-input-background-color);
    border: 1px solid var(--form-input-border-color);
}

.filepond--drop-label {
    color: var(--color-text-light);
    font-size: inherit;
}
.book-cover {
    height: 325px;
    width: 200px;
}